---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="hero" class="h-screen flex flex-col items-center justify-center text-center">
  <h1>{t("hello")}</h1>
</section>