---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const {
  dateStart,
  dateEnd,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<p class="time-date">
<span>{dateStart}</span>
{dateEnd ? ` - ${dateEnd}` : ""}
</p>