---
const { icon } = Astro.props;
---
<div
  class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-[49px] h-[49px] relative gap-2.5 px-2 py-1.5 rounded-[50px] bg-container-primary border-2 border-primary"
>
  {icon}
</div>