---
import Tag from "../atoms/Tag";
const { items } = Astro.props;
---

<div
  class="flex flex-row flex-wrap items-center gap-4 justify-center w-full h-fit relative tag-container px-3"
>
  {items.map((item) => <Tag client:only text={item} />)}
</div>
