---
---

<button id="themeToggle" class="icon-button">
    <svg width="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        class="sun fill-primary dark:hidden"
        d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12ZM17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z"
      ></path>
      <path
        class="sun fill-primary dark:hidden"
        d="M11 21V20C11 19.4477 11.4477 19 12 19C12.5523 19 13 19.4477 13 20V21C13 21.5523 12.5523 22 12 22C11.4477 22 11 21.5523 11 21ZM5.63574 16.9502C6.02627 16.5597 6.65928 16.5597 7.0498 16.9502C7.44033 17.3407 7.44033 17.9737 7.0498 18.3643L6.34277 19.0713C5.95223 19.4616 5.31915 19.4617 4.92871 19.0713C4.53827 18.6809 4.53844 18.0478 4.92871 17.6572L5.63574 16.9502ZM16.9502 16.9502C17.3162 16.5842 17.8953 16.5607 18.2881 16.8809L18.3643 16.9502L19.0713 17.6572L19.1396 17.7324C19.4603 18.1252 19.4375 18.7051 19.0713 19.0713C18.7051 19.4375 18.1252 19.4603 17.7324 19.1396L17.6572 19.0713L16.9502 18.3643L16.8809 18.2881C16.5607 17.8953 16.5842 17.3162 16.9502 16.9502ZM4 11C4.55228 11 5 11.4477 5 12C5 12.5523 4.55228 13 4 13H3C2.44772 13 2 12.5523 2 12C2 11.4477 2.44772 11 3 11H4ZM21 11C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H20C19.4477 13 19 12.5523 19 12C19 11.4477 19.4477 11 20 11H21ZM4.92871 4.92871C5.29492 4.5625 5.8748 4.53974 6.26758 4.86035L6.34277 4.92871L7.0498 5.63574L7.11914 5.71191C7.43929 6.10468 7.41585 6.68376 7.0498 7.0498C6.68376 7.41585 6.10468 7.43929 5.71191 7.11914L5.63574 7.0498L4.92871 6.34277L4.86035 6.26758C4.53974 5.8748 4.5625 5.29492 4.92871 4.92871ZM17.6572 4.92871C18.0478 4.53844 18.6809 4.53827 19.0713 4.92871C19.4617 5.31915 19.4616 5.95223 19.0713 6.34277L18.3643 7.0498C17.9737 7.44033 17.3407 7.44033 16.9502 7.0498C16.5597 6.65928 16.5597 6.02627 16.9502 5.63574L17.6572 4.92871ZM11 4V3C11 2.44772 11.4477 2 12 2C12.5523 2 13 2.44772 13 3V4C13 4.55228 12.5523 5 12 5C11.4477 5 11 4.55228 11 4Z"
      ></path>

      <path
        class="moon hidden dark:fill-primary dark:flex"
        d="M9.37001 5.51C9.19 6.15798 9.09916 6.82748 9.10001 7.5C9.10001 11.58 12.42 14.9 16.5 14.9C17.18 14.9 17.85 14.81 18.49 14.63C17.9652 15.921 17.0674 17.0263 15.9114 17.8047C14.7554 18.5831 13.3936 18.9992 12 19C8.14001 19 5 15.86 5 12C5 9.07 6.81 6.55 9.37001 5.51ZM12 3C10.22 3 8.47992 3.52784 6.99987 4.51677C5.51983 5.50571 4.36628 6.91132 3.68509 8.55585C3.0039 10.2004 2.82567 12.01 3.17294 13.7558C3.5202 15.5016 4.37737 17.1053 5.63604 18.364C6.89472 19.6226 8.49836 20.4798 10.2442 20.8271C11.99 21.1743 13.7996 20.9961 15.4442 20.3149C17.0887 19.6337 18.4943 18.4802 19.4832 17.0001C20.4722 15.5201 21 13.78 21 12C21 11.54 20.96 11.08 20.9 10.64C20.4003 11.3406 19.7401 11.9114 18.9746 12.3045C18.2091 12.6977 17.3606 12.9019 16.5 12.9C15.3552 12.9 14.24 12.5364 13.3152 11.8617C12.3904 11.1869 11.7039 10.2358 11.3545 9.14561C11.0052 8.05541 11.0112 6.88243 11.3717 5.79586C11.7321 4.70929 12.4284 3.76528 13.36 3.1C12.92 3.04 12.46 3 12 3Z"
      ></path>
    </svg>
</button>

<script is:inline>
  const theme = (() => {
    const localStorageTheme = localStorage?.getItem("theme") ?? "";
    if (["dark", "light"].includes(localStorageTheme)) {
      return localStorageTheme;
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (
    theme === "light" &&
    document.documentElement.getAttribute("data-theme") !== "light"
  ) {
    document.documentElement.setAttribute("data-theme", "light");
  } else if (
    theme === "dark" &&
    document.documentElement.getAttribute("data-theme") !== "dark"
  ) {
    document.documentElement.setAttribute("data-theme", "dark");
  }

  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.setAttribute(
      "data-theme",
      element.getAttribute("data-theme") === "light" ? "dark" : "light",
    );

    const isDark = element.getAttribute("data-theme") === "dark";
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  document
    .getElementById("themeToggle")
    ?.addEventListener("click", handleToggleClick);
</script>
