<footer>
  <p>
      &copy; 2025 Mi Portafolio. Todos los derechos reservados.
      <br>
      Powered by <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a> y <a href="https://motion.dev" target="_blank" rel="noopener noreferrer">Motion</a>.
      <br>
      Iconos de <a href="http://streamlinehq.com" target="_blank" rel="noopener noreferrer">Streamlinehq.com</a> bajo licencia Creative Commons Attribution 4.0 International (CC BY 4.0).
  </p>
</footer>