---
import Timeline from "../organisms/Timeline.astro";
import Exp from "../atoms/icons/Experience"
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const items = [
  {
    jobTitle: "Software Developer",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    image: "image.png",
    tags: ["React", "HTML", "CSS"],
    companyName: "Company",
    ubication: "Remote",
    dateStart: "2022-01-01",
    dateEnd: "2023-01-01",
    projects: [{ link: "https://example.com" }],
  },
  {
    jobTitle: "Software Developer",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    image: "image.png",
    tags: ["React", "HTML", "CSS"],
    companyName: "Company",
    ubication: "Remote",
    dateStart: "2022-01-01",
    dateEnd: "2023-01-01",
    github: "https://github.com",
    projects: [{ link: "https://example.com" }],
  },
  {
    jobTitle: "Software Developer",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    image: "image.png",
    tags: ["React", "HTML", "CSS"],
    companyName: "Company",
    ubication: "Remote",
    dateStart: "2022-01-01",
    dateEnd: "2023-01-01",
    github: "https://github.com",
    projects: [{ link: "https://example.com" }],
  },
];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang); 
---

<div
  class="w-fit min-h-screen flex flex-col items-center justify-center relative experience-section pt-50 pb-50"
>
  <div class="flex flex-row gap-4">
    <h1 class="title mb-6">{t("experience")["title"]}</h1>
    <Exp client:visible />
  </div>
  <div>{t("experience")["description"]}</div>
  <div class="mt-17">
    <Timeline items={items} type="work" />
  </div>
</div>
