---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import DecryptedText from "../molecules/DecryptedText";
import BlurText from "../molecules/BlurText";
import ContactLinks from "../molecules/ContactLinks.astro";
import Logo from "../atoms/icons/Logo";
import { Image } from "astro:assets";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!-- <section
  id="home"
  class="h-screen flex flex-col items-center justify-center text-center"
> -->
<div
  class="flex flex-col md:flex-row items-center justify-center gap-8 md:gap-20 w-85 md:w-250 size-4 h-fit md:h-screen relative"
>
  <div class="h-screen flex flex-col items-center justify-center gap-7 md:max-w-100 md:items-start">
    <div class="transform-3d -rotate-10">
      <DecryptedText
        client:load
        className="title text-lg "
        text={`${t("home")["hello"]} ✨`}
        animateOn="view"
        revealDirection="start"
        speed={60}
        sequential
      />
    </div>
    <div>
      <BlurText
        client:load
        text={t("home")["description"]}
        className="title text-xl mt-6 justify-center md:justify-start md:text-start"
        delay={50}
        animateBy="words"
        direction="top"
      />
    </div>
    <div class="w-full flex justify-center">
      <Logo width={200} client:load />
    </div>
  </div>
  <div class="h-screen md:h-fit flex flex-col items-center justify-center gap-8 md:gap-8 w-full md:w-100 size-4 relative">
    <div class="image-home bg-container-primary w-55 h-55 md:w-80 md:h-80 shadow-lg border-1 border-secondary rounded relative">
    <!-- TO DO Animate this svg -->
      <img class="h-fit w-fit absolute mix-blend-normal bottom-0" src={"./image_home.png"} alt="Image avatar" />
      <img class="h-fit w-fit absolute opacity-50 mix-blend-lighten bottom-1 left-1" src={"./image_home_red.png"}  alt="Image avatar red" />
      <img class="h-fit w-fit absolute opacity-50 mix-blend-lighten -bottom-1 -left-1" src={"./image_home_blue.png"} alt="Image avatar blue" />
      <img class="h-fit w-fit absolute opacity-50 mix-blend-lighten bottom-0" src={"./image_home_green.png"} alt="Image avatar green" />
    </div>
    <div class="title text-lg">
      {t("home")["titles"] && t("home")["titles"].map((title) => (
        <p>{title}</p>
      ))}
    </div>
    <ContactLinks />
  </div>
</div>
<!-- </section> -->
