---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Contact from "./Contact.astro";
import Education from "./Education.astro";
import Experience from "./Experience.astro";
import Home from "./Home.astro";
import Skills from "./Skills.astro";
import { easeInOut, motion } from "motion/react";
const variants = {
  whileInView: {
    opacity: 1,
    transition: { delay: 0.3, easeInOut },
    skewY: 0,
  },
  initial: {
    opacity: 0,
    transition: { delay: 0.3, easeInOut },
    skewY: 10,
  },
  viewport: {
    amount: 0.08,
  },
  layout: true
};
const sections = [
  {
    id: "home",
    title: "Home",
    component: Home
  },
  {
    id: "skills",
    title: "Skills",
    component: Skills
  },
  {
    id: "experience",
    title: "Experience",
    component: Experience
  },
  {
    id: "education",
    title: "Education",
    component: Education
  },
  {
    id: "contact",
    title: "Contact",
    component: Contact

  }
];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main>
  {sections.map((section) => (
  <section id={section.id} class="flex flex-col items-center justify-center text-center">
      <motion.div
        client:only="react"
        {...variants}
      >
        <section.component t={t} />
      </motion.div>
  </section>
  ))}
</main>
